* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Full Page Container */
.main {
    display: flex;
    height: 100vh;
    width: 100%;
    background: #F5F9FF; /* light background */
}

/* Left Side Form Box */
.login {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 40px; */
}

/* Form Card */
.form {
    width: 100%;
    max-width: 500px;
    
    background: #FFFFFF;
    padding: 35px;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.12);
    border: 1px solid #e0e6ed;
}

/* Form Heading */
.h {
    text-align: center;
    font-size: 35px;
    margin-bottom: 25px;
    color: #03045e; /* deep blue */
font-weight: bold;    
}

/* Inputs */
.form input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border-radius: 8px;
    border: 1px solid #cbd5e1;
    font-size: 15px;
    transition: 0.3s ease;
}

.form input:focus {
    /* border-color: #00b4d8; green accent */
    /* box-shadow: 0px 0px 6px rgba(10, 138, 67, 0.3); */
    /* outline: none; */
}

/* Submit Button */
.form button {
    width: 100%;
    padding: 12px;
    margin-top: 15px;
    background: #00b4d8;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s ease;
}

.form button:hover {
    background: #03045e;
}

/* Right Side Image */
.images {
    width: 60%;
    height: 100vh;
    /* overflow: hidden; */
}

  /* object-fit: cover; */

 

/* RESPONSIVE DESIGN */
@media (max-width: 900px) {
    .main {
        flex-direction: column;
        height: auto;
    }

    .login, .images {
        width: 100%;
        height: auto;
    }

    .images img {
        height: 350px;
        object-fit: cover;
    }
}
p{
    margin-top: 15px;

text-align: center;
font-size: 20px;}


