* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}



header {
    display: flex;
position: absolute;
    flex-direction: row;
    font-size: large;
    font-weight: 700;
    width: 45%;
    height: auto;
    /* justify-content: space-between; */
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 20px;
    padding: 20px 30px;
}

.head{
    
    width: 100%;
    height: 100px;
    background-color: #00b4d8;
    /* border-radius: 20px  ; */
}