* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.main {
    display: flex;
    height: 100vh;
    width: 100%;
     background: #F5F9FF; /* light background */

}

.login {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}




.form input {
    padding: 12px;
    font-size: 14px;
    width: 100%;
}

.form button {
    padding: 12px;
    background: #00b4d8;
    color: white;
    border: none;
    cursor: pointer;
   
}

.images{
    width: 

60%    ;
}


.h{
    text-align: center;
    font-size: 35px;
    margin-bottom: 25px;
    color: #03045e; /* deep blue */
font-weight: bold;
}

.form input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border-radius: 8px;
    border: 1px solid #cbd5e1;
    font-size: 15px;
    transition: 0.3s ease;
}

p{
    font-size: 20px;
    text-align: center;
    margin-top: 15px;
}

.form {
    width: 100%;
    max-width: 500px;
    
     flex-direction: column;
    background: #FFFFFF;
    padding: 35px;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.12);
    border: 1px solid #e0e6ed;
    
    gap: 15px;

}

.form button {
    width: 100%;
    padding: 12px;
    margin-top: 15px;
    background: #00b4d8;
    color: white;
    font-size: 16px;
    font-weight: bold;
    transition: 0.3s ease;
    border-radius: 8px;
}
button:hover{
    background: #03045e;
}

